//- my secret ;)
include include/mixin

//- path to files
- imgPath 		= "https://f4u.olimpia.me//media/epi/banner/small/test/"	//- olimpia
- imgPath 		= "https://football4u.it/media/epi/banner/small/test/"		//- production
- imgPath 		= "assets/images/"											//- locals

block lang
	//- lang setup (available value: en, it)
	- lang 			= "it"

//- svg we need
svg(style="display: none;")
	if lang == "it"
		g.iconServices
			include include/svg/iconServices.svg
		g.iconBrand
			include include/svg/brand.svg
	if lang == "en"
		g.iconBrand
			include include/svg/brand.svg
if lang == "it"
	.row-fluid
		br
		ul.servicesSvg
			+iconServices("span3 offset1", "#freeShipping")
				h4 Spedizione Gratuita
				small in Italia per ordini superiori a 90&euro;
			+iconServices("span3", "#personalize")
				h4 Prodotti Personalizzabili
				small in 24 ore
			+iconServices("span3", "#fastShipping")
				h4 Spedizione Veloce
				small 24/48 ore
			+iconServices("span2", "#freereturn")
				h4 Reso Gratuito

//- START YOUR BANNER GRID

//-		 add this ".row-fluid" for any row block with banners
//-		 indent and then add: "+bannerGrid" and open "()" for any banner inside the row
//-		 inside "()" you need to put this parameters:
//-
//-		 1. width of the banner (you qnow that bootstrap has available 12 columns) ex:
//-		   a. 4 equal banner / row - you need to put "3"
//-		   b. 3 equal banner / row - you need to put "4"
//-		   c. 2 equal banner / row - you need to put "6"
//-		   d. 1 banner / row - you need to put "12"
//-		 2. link for the banner, between ""
//-		 3. image name, between ""
//-		   a. small baner has 600/780 px ()
//-		   b. large banner has 1230/760
//-		   c. huge banner has 1230/ your chuse
//-		 4. message, between ""
//-		 5. CTA, between ""
//-		 6. special offer - use &euro; for €, between "" - if you don't need the special offer can you put false without "".
//-		 7 brand available: reusch, macron, asics, uhl, joma, mizuno, puma, adidas, nike - if you don't need the brand can you put false without "".

if lang == "it"
	.row-fluid
		+bannerGrid(12, "#", "serie-a-15-16_huge.jpg", "Serie A 2015-16 10%", "acquista subito", false, "#reusch")

	.row-fluid
		//+bannerGrid(4, "#", "scarpe-bambino.jpg", "scarpe bambino 10%", "acquista subito", flase, "#puma")
		+bannerGrid(6, "#", "accessori-outlet.jpg", "Kids football boots", "acquista subito", false, "#adidas")
		+bannerGrid(6, "#", "teamsport-nike-50.jpg", "Team sport", "acquista subito", "10%", "#adidas")

	.row-fluid
		+bannerGrid(4, "#", "scarpe-bambino.jpg", "scarpe bambino 10%", "acquista subito", flase, "#puma")
		+bannerGrid(4, "#", "accessori-outlet.jpg", "Kids football boots", "acquista subito", "Until 50%", "#adidas")
		+bannerGrid(4, "#", "teamsport-nike-50.jpg", "Team sport", "acquista subito", "10%", "#adidas")

	.row-fluid
		+bannerGrid(6, "#", "serie-a-15-16_large.jpg", "Serie A 2015-16 10%", "acquista subito", "70%", "#mizuno")
		+bannerGrid(3, "#", "scarpe-calcio-outlet.jpg", "Football boots clearance", "vedi l'oferta", "Until 50%", "#adidas")
		+bannerGrid(3, "#", "teamsport-nike-50.jpg", "Team sport", "acquista subito", "10%", "#nike")

	.row-fluid
		+bannerGrid(3, "#", "accessori-outlet.jpg", "Accessori outlet da 5&euro;", "acquista subito", false, "#macron")
		+bannerGrid(3, "#", "adidas-15-16-collection.jpg", "Adidas 2015/16 -10%", "vedi l'oferta", false, "#asics")
		+bannerGrid(3, "#", "guanti-portiere-40.jpg", "Maglie gara 02", "acquista subito", "Until 40%", "#uhl")
		+bannerGrid(3, "#", "italia-40.jpg", "Italy collection", "acquista subito", "40%", "#joma")

if lang == "en"
	.row-fluid
		+bannerGrid(12, "#", "serie-a-15-16_huge.jpg", "Serie A 2015-16 10%", "acquista subito", false, "#reusch")

	.row-fluid
		+bannerGrid(3, "#", "accessori-outlet.jpg", "Accessori outlet da 5&euro;", "acquista subito", false, "#macron")
		+bannerGrid(3, "#", "adidas-15-16-collection.jpg", "Adidas 2015/16 -10%", "vedi l'oferta", false, "#asics")
		+bannerGrid(3, "#", "guanti-portiere-40.jpg", "Maglie gara 02", "acquista subito", "Until 40%", "#uhl")
		+bannerGrid(3, "#", "italia-40.jpg", "Italy collection", "acquista subito", "40%", "#joma")

	.row-fluid
		+bannerGrid(6, "#", "serie-a-15-16_large.jpg", "Serie A 2015-16 10%", "acquista subito", "70%", "#mizuno")
		+bannerGrid(3, "#", "scarpe-calcio-outlet.jpg", "Football boots clearance", "vedi l'oferta", "Until 50%", "#adidas")
		+bannerGrid(3, "#", "teamsport-nike-50.jpg", "Team sport", "acquista subito", "10%", "#nike")

	.row-fluid
		+bannerGrid(4, "#", "scarpe-bambino.jpg", "scarpe bambino 10%", "acquista subito", flase, "#puma")
		+bannerGrid(4, "#", "accessori-outlet.jpg", "Kids football boots", "acquista subito", "Until 50%", "#adidas")
		+bannerGrid(4, "#", "teamsport-nike-50.jpg", "Team sport", "acquista subito", "10%", "#adidas")